@font-face{
    font-family: Aileron-HeavyItalic;
    src: url(../fonts/Aileron/Aileron-HeavyItalic.otf);
}
@font-face{
    font-family: Aileron-Regular;
    src: url(../fonts/Aileron/Aileron-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.principal{
  width: 100%;
  height: 100%;
}

article{
  width: 100%;
  color: white;
}

.apresentacao{
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
}
.apresentacao:before{
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  right: -5%;
  bottom: -5%;
  z-index: -1;
  display: block;
  background-image: url("../images/bg_image2.png");
  background-size: 200% 100%;
  background-position: 70%;
  background-repeat: no-repeat;
  filter: blur(7px);
}
.apre_sub{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font: 50px Aileron-Regular;
}
.image_apre{
  width: 300px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.apresentacao p{
  margin-top: 100px;
  text-shadow: 2px 0 0 black, -2px 0 0 black,
               0 2px 0 black, 0 -2px 0 black,
               1px 1px black, -1px -1px 0 black,
               1px -1px 0 black, -1px 1px 0 black;
}
.apre_down{
  width: 40%;
  height: 100px;
  float: left;
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
  box-sizing: border-box;
  border: 2px solid #fff;
  color: white;
  background-color: rgba(0, 130, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.apresentacao .apre_down:hover{
  background-color: rgba(0, 200, 0, 0.5);
}

.artigos{
  width: 100%;
  height: 1500px;
  background-color: green;
  font: 50px Aileron-Regular;
}
.artigo1{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img_artigo1{
  width: 250px;
  float: left;
  display: block;
  margin: 0 auto;
}
.p_artigo1{
  width: 50%;
  height: auto;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.artigo2{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img_artigo2{
  width: 250px;
  float: right;
  display: block;
  margin: 0 auto;
}
.p_artigo2{
  width: 50%;
  height: auto;
  float: right;
  margin-left: auto;
  margin-right: auto;
}
.artigo3{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img_artigo3{
  width: 250px;
  float: left;
  display: block;
  margin: 0 auto;
}
.p_artigo3{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.download{
  width: 100%;
  height: 1500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font: 50px Aileron-Regular;
  color: black;
}
.download h1{
  font: 60px Aileron-HeavyItalic;
}
.download p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.img_down{
  width: 500px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.down_google{
  width: 500px;
  height: 150px;
}

footer{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  font: 30px Aileron-HeavyItalic;
  color: white;
}
.footer_1{
  width: 100%;
  height: 200px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_1 a:link{
  width: 66.6px;
}
.footer_1 a:visited{
  color: black;
}
.fb_icon{
  width: 100px;
  height: auto;
}
.ig_icon{
  width: 100px;
  height: auto;
}
.tt_icon{
  width: 100px;
  height: auto;
}
.footer_2{
  width: 100%;
  height: 200px;
  float: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_2 ul{
  list-style: none;
}
.footer_2 a:link{
  color: white;
  text-decoration: underline;
}
.footer_2 a:hover{
  color: green;
}
